######################
# Intellij
######################
.idea/
*.iml
*.iws
*.ipr
*.ids
*.orig

######################
# Maven
######################
/log/
/target/
target/

##################
# Java main
##################
/out/
out/

######################
# Gradle
######################
.gradle/
/build/

######################
# Directories
######################
/bin/
/deploy/

######################
# Logs
######################
*.log
